/* > javascript - Stop chrome back/forward two finger swipe - Stack Overflow  */
/* > https://stackoverflow.com/questions/15829172/stop-chrome-back-forward-two-finger-swipe*/
/* swipeによるback/forwardを禁止する */
body {
  overscroll-behavior-x: none;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
